#calendar
{
    
    .today
    {
        font-weight: bold;
        color: #4B9AD9;
        background-color: rgba(#4B9AD9, 0.3);
        text-shadow: rgba(#4B9AD9, 0.5) 1px 1px 1px;
        &:after
        {
/*            content: "";
            height: calc(100% + 2px);;
            width: 5px;
            right: 0;
            position:absolute;
            top: -2px;
            background-color: #4B9AD9;
            z-index: 5;*/
        }
    }
    
    .event
    {
        position:relative;
        background-color: rgba(#3CB594, 0.3);
    
        &:before
        {
            content: "";
            height: calc(100% + 2px);;
            width: 5px;
            left: 0;
            position:absolute;
            top: -2px;
            background-color: #3CB594;
            z-index: 5;
        }
    }
    
    h3
    {
        margin: 0;
    }
    
    th
    {
        background-color: #324050;
        color: white;
        text-align: center;
        
        &.sat
        {
            background-color: #FFAB91;
        }

        &.sun
        {
            background-color: #EF9A9A;
        }

    }
    
    td
    {
        position:relative;
        text-align: center;
        -moz-transition-property: all;
        -o-transition-property: all;
        -webkit-transition-property: all;
        transition-property: all;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -moz-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
        
        .add
        {
            color: #008803;
            cursor: pointer;
            position:absolute;
            right: 10px;
/*            right: -5px;
            top: -5px;*/
            font-size: 20px;
            line-height: 20px;
            top: 50%;
            margin-top: -10px;
            opacity: 0;
            z-index: 5;
            -moz-transition-property: all;
            -o-transition-property: all;
            -webkit-transition-property: all;
            transition-property: all;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -moz-transition-timing-function: ease-in-out;
            -o-transition-timing-function: ease-in-out;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
        }
        
        .edit, .popover-edit
        {
            color: gray;
            cursor: pointer;
            position:absolute;
            left: 10px;
            /*            right: -5px;
                        top: -5px;*/
            font-size: 20px;
            line-height: 20px;
            top: 50%;
            margin-top: -10px;
            opacity: 0;
            z-index: 5;
            -moz-transition-property: all;
            -o-transition-property: all;
            -webkit-transition-property: all;
            transition-property: all;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -moz-transition-timing-function: ease-in-out;
            -o-transition-timing-function: ease-in-out;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
        }
        
        .edit-multiple
        {
            cursor: pointer;
            margin-bottom: 5px;
            -moz-transition-property: all;
            -o-transition-property: all;
            -webkit-transition-property: all;
            transition-property: all;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -moz-transition-timing-function: ease-in-out;
            -o-transition-timing-function: ease-in-out;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
            
            &:hover
            {
                color: #3CB594;
            }
            
            &:last-of-type
            {
                margin-bottom: 0px;
            }
        }
        
        &.sat
        {
            color: #FFAB91;
        }
        
        &.sun
        {
            color: #EF9A9A;
        }
        
        
        &:hover
        {
            background-color: rgba(gray, 0.2);
            .add
            {
                opacity: 1;
            }
            
            .edit, .popover-edit
            {
                opacity: 1;
            }
        }
    }
    
    input[type=checkbox] 
    {
        position:absolute;
        left:-99999px
    }
    
    input[type=checkbox] + label 
    {
        margin-left:30px;
        position:relative;
        padding:0
    }
    
    input[type=checkbox] + label span 
    {
        display:block;
        width:20px;
        height:20px;
        border:2px solid #3bb594;
        position:absolute;
        left:-30px;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        border-radius:2px;
    }
    
    input[type=checkbox] + label:after 
    {
        content:"";
        background-color:#3bb594;
        position:absolute;
        left:0;
        bottom:0;
        width:0;
        height:1px;
        -moz-transition-property:all;
        -o-transition-property:all;
        -webkit-transition-property:all;
        transition-property:all;
        -moz-transition-duration:0.3s;
        -o-transition-duration:0.3s;
        -webkit-transition-duration:0.3s;
        transition-duration:0.3s;
        -moz-transition-timing-function:ease-in-out;
        -o-transition-timing-function:ease-in-out;
        -webkit-transition-timing-function:ease-in-out;
        transition-timing-function:ease-in-out
    }
    
    input[type=checkbox] + label:before 
    {
        font-family:FontAwesome;
        font-size:20px;
        line-height:20px;
        width:20px;
        text-align:center;
        display:inline-block;
        left:-30px;
        margin:0;
        content:"";
        height:20px;
        color:#3bb594;
        position:absolute;
        opacity:0;
        -moz-transition-property:all;
        -o-transition-property:all;
        -webkit-transition-property:all;
        transition-property:all;
        -moz-transition-duration:0.3s;
        -o-transition-duration:0.3s;
        -webkit-transition-duration:0.3s;
        transition-duration:0.3s;
        -moz-transition-timing-function:ease-in-out;
        -o-transition-timing-function:ease-in-out;
        -webkit-transition-timing-function:ease-in-out;
        transition-timing-function:ease-in-out
    }
    
    input[type=checkbox]:checked + label:before 
    {
        content:"\f14a";
        opacity:1
    }
    
    input[type=checkbox]:checked + label:after 
    {
        width:100%
    }
}